.li {
  float: left;
  margin-right: 2rem;
  list-style: none;
  padding-top:20px;
  opacity: 1;
  transition: opacity 1s;
}
.li:hover {
  text-decoration: none;
  opacity: 0.5;
}
#navimg {
  margin: none;
  width:50px; 
  height: 50px;
  position: relative;
  bottom: 10px;
  right: 15px;
  border-radius: 40%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.navel {
  text-decoration: none;
  font-size: 20px;
  color: #660033;
}
.nav {
  width: 100%;
  height: 70px;
  background: #fca503;
  font-size: 20px;
  position: fixed;
}
/* Style all font awesome icons */
.fa {
  /* padding: 8px;
  font-size: 20px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; */
  opacity: 1;
  transition-delay: opacity 0.5s;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  /* background: #3B5998; */
  color: white;
}

/* Twitter */
.fa-twitter {
  /* background: #55ACEE; */
  color: white;
}
.fa-linkedin {
  /* background: #007bb5; */
  color: white;
}
.section {
  width: 100%;
  height: 100%;
}
#header {
  vertical-align: center;
  text-align: center;
  padding: 230px;
  background-color: #fca503;
}
#about {
  float: left;
  padding: 30px; 
}
#aboutimg {
  float: left;
  width: 300px;
  height: 300px;
  padding: 20px;
}
#abouttxt {
  padding: 20px;
  text-align: center;
}

