.navbar {
	width: 100%;
	position: fixed;
	z-index: 99;
}

/* Style all font awesome icons */
.fa {
  padding: 12px;
  font-size: 18px;
  width: 43px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want 
.fa:hover {
  opacity: 0.7;
} */

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

/* Linkedin */
.fa-linkedin {
  color: white;
}

#circle {
	border-radius: 45%;
	transform: rotateY(0deg);
	transition: transform 3s;
}
#circle:hover {
  transform: rotateY(360deg);
}

.name {
	background: -webkit-linear-gradient(#ffb41f, #f48df7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Space between navbar and logo */
.space {
	margin-right: 37em;
}

.about-me {
  text-align: center;
}

.skills-column {
  padding-left: 40px;
}

#grad {
  background-image: linear-gradient(to bottom right, #35a9db, #3fe058);
}
.jumbotron {
	padding-top: 267px;
	padding-bottom: 212px;
}
.shadow {
	box-shadow: 0 8px 8px 0 red;
}
/* For Image only */
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.col1:hover .image {
  opacity: 0.5;
}

.col1:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}